<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
  </head>
  <body>
    <h1>All contacts:</h1>
    <table>
    <tr>
      <th>Name</th><th>Email</th><th>Notes</th>
    </tr>
      <% @all_contacts.each do |contact| %>
        <tr><td><%= contact.full_name -%></td><td><%= contact.email -%></td><td><%= contact.note -%></td></tr>
      <% end %>
    </table>
    <p><a href="/">Home Page</a></p>
  </body>
</html>
